body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.navbar-fixed-top{
	.css3-opacity(@foreground-color, @opacity-low);
	border-color: transparent;
	.navbar-nav {
		background-color: inherit;
	}
}